[2015-06-04 11:52] pavanky opened #1 "CUDNN support for Convolution Layers"
Wraps [perceptrons, convolutional and softmax layers](https://github.com/arrayfire/arrayfire_ml/issues/16)
## Other
- [ ] Integrate with cuDNN when possible
- [ ] Add a fallback version using cuDNN is not available.
- [ ] Investigate alternatives and analyze performance

[2015-06-04 15:57] futurely commented on #1
facebook/fbcunn [exploits cuDNN](https://github.com/facebook/fbcunn/search?utf8=%E2%9C%93&q=cudnn) through a limited number of DNN specific operations implemented by the wrapper [cudnn.torch](https://github.com/soumith/cudnn.torch/blob/master/init.lua). This is probably the least invasive method to integrate with cuDNN.

The fallback CUDA backend of torch is [cunn](https://github.com/torch/cunn).

[2015-06-09 15:29] jramapuram opened #2 "Automatic Differentiation"
This would be cool: http://en.wikipedia.org/wiki/Automatic_differentiation
Theano uses this.

This should be a secondary objective. Initially (and for performance reasons) it will make sense to provide the derivatives of functions, however this feature will provide extensibility for later unknown model types.

[2015-06-17 22:05] pavanky opened #3 "Proposal for the initial API"
This library will sit on top of arrayfire. The default implementation will be C++, however C wrappers will be added on top so that the library can be used from other languages.

The optimization function and distance metrics need to be abstract out so the user has a choice of switching them out whenever possible.
## Base classes
- [ ] [Classifier](https://github.com/arrayfire/arrayfire_ml/issues/1

[2015-06-17 22:14] pavanky commented on #3
@umar456 @pentschev @jramapuram Any suggestions about what can go in the first go would be greatly appreciated.

[2015-06-17 22:18] pavanky commented on #3
In particular, additions to Regression and clustering would be nice.

[2015-06-17 22:23] pavanky opened #4 "Perceptron"
Specialization of `MultiLayerPerceptron`

[2015-06-17 22:23] pavanky opened #5 "Naive Bayes Classifier"

[2015-06-17 22:24] pavanky opened #6 "Support Vector Machine"

[2015-06-17 22:24] pavanky opened #7 "Logistic and Softmax Regression"

[2015-06-17 22:25] jramapuram commented on #3
I think it makes sense to start with the basics, go with:
- Linear Regression
- Logistic Regression (natural extension due to just a kernel swap)
- k-Means
- Standard Multi Layer Perceptron.

And then take it from there! :)

Personally I would like to maybe do some LSTM's & other RNN type models.
However, for these we will need an optimizer. SGD & [ADAM](http://arxiv.org/abs/1412.6980) should be e

[2015-06-17 22:25] pavanky opened #8 "Multi Layer Perceptron"
Specialization of `Network` class

[2015-06-17 22:26] pavanky opened #9 "Nearest Neighbor search"

[2015-06-17 22:26] jramapuram commented on #3
Btw for the suite of neural models it would be good to abstract a standard 'Layer' class. This will make the addition of conv layers/etc pretty easy.

[2015-06-17 22:26] pavanky opened #10 "Deep Belief Networks"
Specialization of `Network` class.

[2015-06-17 22:27] pavanky opened #11 "Restricted Boltzman Machines and Autoencoders"
Specializations of `Network` class.
- [ ] RBM
- [ ] Autoencoder
- [ ] StackedRBM
- [ ] StackedAutoencoder

[2015-06-17 22:28] pavanky opened #12 "Locality Sensitive Hashing"

[2015-06-17 22:28] pavanky opened #13 "Linear Regression"

[2015-06-17 22:29] pavanky opened #14 "Generalized Linear Regression (GLM)"

[2015-06-17 22:29] pavanky opened #15 "k-means"

[2015-06-17 22:31] pavanky opened #16 "Base classifier class"
This class is inherited from all the classifier types. This should provide methods for training and then performing the classify operation.

[2015-06-17 22:34] pavanky opened #17 "Base Layer class"
This accepts an input and generates an output. It should also contain a method to update it's weights.

[2015-06-17 22:45] pavanky opened #18 "Principle Component Analysis"
- Requires eigen value decomposition from arrayfire

[2015-06-17 22:46] pavanky opened #19 "Linear Discriminant Analysis"
- Requires SVD from arrayfire

[2015-06-17 22:56] pavanky commented on #3
@jramapuram I was just running through the library design via github issues. I came up with this: https://github.com/arrayfire/arrayfire_ml/issues/17 for the standard Layer class. It might change once the work actually begins.

[2015-06-17 22:58] pavanky commented on #3
I will look into the optimization functions and update the list. Can you create an issue for base RNN class and / or LSTM and discuss what additional work should be done ?

[2015-06-18 06:12] jramapuram commented on #17
@pavanky : It doesn't necessarily have to be a classifier though.
Neural networks can easily do regression type problems as well.
Only difference would be the loss function used. I.e. L2 loss(regression) vs. Cross Entropy+Softmax(classification).

[2015-06-18 06:14] jramapuram commented on #3
Sure thing. For optimization I suggest paralleling something like [keras's solution](https://github.com/fchollet/keras/blob/master/keras/optimizers.py) minus maybe the automatic differentiation that theano offers (thats pretty tough to implement I'd imagine).

[2015-06-18 09:19] jramapuram commented on #17
I think the following would be helpful from an API standpoint:

[code]

All the int's are return codes in the above.

This will give maximum flexibility in:
1. Layer creation
2. Model training
3. Online + batch setting

The Layer class as you mentioned should do the following:

[code]

[2015-06-18 09:27] jramapuram opened #20 "RNN Models"
Once we have an implementation of the Layer Class https://github.com/arrayfire/arrayfire_ml/issues/17 , the Optimizer class and the DataSet class we can go about creating RNN flavors. There are 3 models that should be implemented:

 - [ ] Vanilla RNN
 - [ ] LSTM
 - [ ] GRU

These will require the implementation of their derivatives and their forward prop values.
Certain details to consider:
 - RNN

[2015-06-22 18:43] futurely commented on #3
@zxie has implemented a very elegant [neural network library](https://github.com/zxie/nn) which maybe was based on the [general flow graph](http://cs224d.stanford.edu/lectures/CS224d-Lecture5.pdf) described in the Stanford course [Deep Learning for Natural Language Processing](http://cs224d.stanford.edu/syllabus.html).

A [graph](https://github.com/zxie/nn/blob/master/nets/graph.py) based neural n

[2015-06-22 19:15] futurely commented on #2
The cost is longer compile time which is very counter-productivity especially for quick iterations of research and prototyping.

[2015-06-22 19:24] jramapuram commented on #2
Yup,  mentioned above already

[2015-06-22 20:11] futurely commented on #17
According to many recent researches, the most powerful neural networks are no longer stacked layers but rather arbitrarily complex graphs, e.g. the bunches of [advanced recursive neural networks](http://cs224d.stanford.edu/lectures/CS224d-Lecture10.pdf), Facebook AI research's [Memory Networks](http://www.thespermwhale.com/jaseweston/), Google DeepMind's [Neural Turing Machine](http://arxiv.org/ab

[2015-06-23 00:49] futurely commented on #17
Microsoft Research's ["Computational Networks A Generalization of Deep Learning Models"](http://research.microsoft.com/en-US/people/kaisheny/cntk-tutorial-icassp2015-20150419.pdf) presented its open source deep learning framework CNTK as
![image](https://cloud.githubusercontent.com/assets/9004594/8296525/2225c708-1984-11e5-8f8b-4e22d1167211.png)
![image](https://cloud.githubusercontent.com/assets/

[2015-06-23 06:31] jramapuram commented on #17
I like the generalizations. Few notes:

[code]

seems redundant with:

[code]

since a node can have subnodes as well, right?
Why not just have a ptr to the next and previous nodes: a basic doubly-linked list.

One item that is very important that your schema is missing is some form of accuracy.
99% of the time you will need some form of data splitting and verification vs. a cross-validation data

[2015-06-23 07:17] pavanky commented on #17
@jramapuram

If I am reading correctly, the following is for cases when a single node is connected to multiple successors (like the CN with shared params diagram).

[code]

I am not sure a linked list is the solution here.

[2015-06-23 07:24] pavanky commented on #17
@futurely Thanks for the great feedback! The proposed API looks solid. ~~However the one issue I see is that going the Node / Graph route means that the amount of parallelism will be decreased in networks that use more traditional layers. I wonder if we can specialize a `Layer` class as well that sits on top of `Node` to achieve this.~~

[2015-06-23 07:35] pavanky commented on #17
@futurely Sorry for jumping the gun. I re-read the entire discussion again. It looks the proposed `Node` is just a generalized `Layer`.

[2015-06-23 11:17] pavanky commented on #17
@futurely @jramapuram Would it be possible to continue the discussion over here: https://gitter.im/arrayfire/arrayfire_ml ?

[2015-06-24 17:46] pavanky opened #21 "HMM and Viterbi"
https://github.com/arrayfire/arrayfire/issues/376

[2015-06-25 16:45] pavanky commented on #17
Suggestions from @alcinos:
- Instead of having a list of child nodes in each`Node`, it may be better to have an adjacency list in the `Network` class.
- The weights and gradients (and I guess you also meant the biases) shouldn't be part of the input parameters of the "forward" function, they should be private to the node (of course, some getters can be written)

[2015-06-25 18:57] alcinos commented on #17
Here is a proposition including the modifications:
https://gist.github.com/alcinos/3bedb2f7c4518fa93220

[2015-06-26 02:26] futurely commented on #17
The Graph or Network class is not needed at all. Here's a [simple illustration](https://www.topcoder.com/community/data-science/data-science-tutorials/introduction-to-graphs-and-their-data-structures-section-1/):

[code]

[2015-06-26 04:17] alcinos commented on #17
@futurely
The point is that the net structure should be independant from the nodes. The same node can be involved in different topologies depending on the context. For example, in stacked auto encoders, the training is done layer by layer, which requires a different topology to train each level

[2015-06-28 08:00] futurely commented on #17
#22.

[2015-06-29 07:16] unbornchikken commented on #3
I have some experience with recurrent learning models, like RTLR and LSTM. Those coluld be used for tasks like speech recognition and realtime time series predictions, and so. Do you have plans for supporting such functionality aswell?

[2015-06-29 08:38] jramapuram commented on #3
@unbornchikken : https://github.com/arrayfire/arrayfire_ml/issues/20

[2015-06-29 08:40] unbornchikken commented on #3
Yeah, but that doesn't get icluded in this list above. Yet?

[2015-06-30 11:51] pavanky commented on #17
@alcinos Can you explain how having an adjacency list helps in the situations you mentioned ? I still think it is the better option to have a centralized location for the representation, however I do not see it solving the problems of greedy layer by layer training.

[2015-06-30 16:46] alcinos commented on #17
@pavanky Well let's say we have a 3 layers stacked auto-encoder.
I will denote by "O" an output layer, "I" an input layer, "E" an encoding layer and "D" a decoding layer.
The first step is to train greedily the first layer. This training is performed on the network :
I -> E1 -> D1 -> O. After some number of iterations (or once the reconstruction error goes bellow a given threshold), we can train t

[2015-06-30 16:55] pavanky commented on #17
I understand what autogenerators are doing. My question was more about implementation. What you are suggesting requires updating the adjacency list after each step or creating a new network after each step. Am I correct in this observation ?

[2015-06-30 16:56] alcinos commented on #17
Absolutely!

[2015-06-30 17:06] pavanky commented on #17
In that case I think we can have a specialized class for auto encoders (and RBMs) that will do the greedy training and return the encoding part of the network to be included into another network on request.

With that said, I think the other representation of the network (each node having list of links) can also be made to work in this situation (may be even a bit more cleanly) if the edges are la

[2015-06-30 17:20] alcinos commented on #17
In the setting where each node has a list of links, how would you deal with the same node belonging to several nets (simoultaneously) ?

[2015-06-30 17:54] jramapuram commented on #17
An inverted multi leaf tree structure would make sense for this (i.e
becoming inputs to multiple nodes) and then degenerate to a list.
Decoupling a model from the node/layer structure does make sense.

On Tue, Jun 30, 2015, 7:21 PM alcinos notifications@github.com wrote:

[2015-06-30 18:00] pavanky commented on #17
@alcinos Each node can be linked to any number of other nodes. So you begin with adding all needed links. You then label which Networks the link belongs to. When training a particular network, you just traverse the relevant links and remove them when you are done.

[2015-06-30 19:59] alcinos commented on #17
@pavanky mmh it seems that it can rapidly become a mess, especially because each entity that wants to use a given node in a net has to resolve label conflicts that may arise on its own (which is not good in term of encapsulation), and we also have to trust it on properly cleaning the links when the net is no longer needed (which is not good either).

[2015-06-30 20:02] pavanky commented on #17
Indeed. Just put the option out there. I think I have most of the information I need to push something out in the next couple of days.

[2015-06-30 20:20] alcinos commented on #17
Cool, I'm looking forward to take a look at it, and contribute if I have the opportunity

[2015-07-01 03:35] futurely commented on #17
Examples of RBM implemented with high level math API from cudamat are as follows.
https://github.com/cudamat/cudamat/blob/master/examples/rbm_cudamat.py
https://github.com/cudamat/cudamat/blob/master/examples/rbm_numpy.py

[2015-07-01 04:45] alcinos commented on #17
@futurely The code you are showing doesn't feature any encapsulation. This is a problem:
- What if we want to change the number of hidden layers?
- What if we would like to use convolution layers instead of fully connected ones ?
- ...

[2015-07-13 14:46] futurely commented on #17
Caffe creator's plan on "[Improving Caffe: Some Refactoring](http://tutorial.caffe.berkeleyvision.org/caffe-cvpr15-improving.pdf)".

[2015-07-14 06:34] futurely commented on #17
Minerva's [DAG and operators based implementation](https://github.com/dmlc/minerva/tree/master/minerva).

[2015-07-14 18:58] pavanky commented on #17
@futurely @alcinos @jramapuram I pushed some of the basic classes out. I do not have any convolution nodes yet. There is no network classes yet. I am going to push some sample network classes out later today to demonstrate how the structure can be stored.

The network class will also extend `Node` so that it can be used as a super node in a larger network.

 I understand that this is not much righ

[2015-07-15 10:51] jramapuram commented on #17
Looks great so far @pavanky ! Few queries / comments:
- Why is lr > 1 in your example for perceptron? Generally it is << 1.0
- Are the thoughts to make LinearLayer : LinearNode , etc ? I like this idea.
- normalize() should be factored out of Node in my opinion (into a Normalize class). There are many times of normalization that one might decide to use for example.

I will take a deeper look a lit

[2015-07-15 11:11] unbornchikken commented on #17
@pavanky @jramapuram I believe forward and backward computations have to be refactored from the base interface too, because I can see no way to support forward phase gradient computations with the current Node class. I mean RTLR for example.

[2015-07-15 11:23] jramapuram commented on #17
@unbornchikken : Agreed. I think a simple solution is to create a virtual forward / backward in the Node class & implement it in each class. That way you can unwind recurrences if need be (or keep a truncated moving average of the weights as in RTRL)

[2015-07-15 11:27] unbornchikken commented on #17
But for calculating RTLR you'll need a totally different kind of network traversal logic other than forward or backward. I meant that if traversal logic is refactored out of Node interfaces in separate classes (ForwardPhase, BackwardPhase, RTLRPhase, etc) its easy to define separate ones for every possible algorithm AFML want to support in the future and after the future.

[2015-07-15 11:39] jramapuram commented on #17
I think we are might be talking about two separate things.  Are you talking about Real-Time-Recurrent-Learning: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.52.9724&rep=rep1&type=pdf ?

[2015-07-15 12:29] unbornchikken commented on #17
@jramapuram Exactly.

[2015-07-15 12:37] jramapuram commented on #17
Exactly in that it is the same? Or different? I didn't find any mention online for RTLR. **RTRL** involves just computing the gradients of time n+1 using gradients and activations of time n in addiction to accumulating the gradients from 0 --> T_current. It is fully online. My solution of having virtual forward/backward functions should easily solve this problem..

[2015-07-15 12:49] unbornchikken commented on #17
@jramapuram :) Yeah, I've trouble with acronyms, I often write LSTM as LTSM also. Sorry. Ok, but for calculating gradients you'll need to feed desired outputs and to do a special kind of forward iteration of the whole network for each weights:

http://www.willamette.edu/~gorr/classes/cs449/rtrl.html (18)

Or maybe @pavanky doesn't want to support RTRL altogether in favor of LSTM, which is a separa

[2015-07-15 12:57] jramapuram commented on #17
@unbornchikken : no worries, just wanted to be on the same page :) . So RTRL is an optimization algorithm. It can be applied to LSTMs/GRU/...(insert your RNN flavor here). If you look at that link (specifically step # 7 & # 8) it isn't really anything fancy. You need to keep an accumultor for the error upto the current timestep as well as the gradient (as opposed to BPTT where things are unfolded

[2015-07-15 13:08] unbornchikken commented on #17
@jramapuram What I tried to say is that to support RTRL with your rigid Node abstract class, you gotta define some other methods in it accepting and holding this forward propagated `p` values. If you have some other special algorithm or trying to prototype one, you gotta modify the Node class for that too, which cannot be done at home, you gotta PR the master there. Am I right? But if Node class r

[2015-07-15 13:17] jramapuram commented on #17
If you look at Linear.hpp it implements it's own forward / backward.
The easiest way to solve your problem is make a RecurrentNode class that inherits from Node.
The details as to whether to use RTRL or BPTT can be resolved there.

If you are implementing a new algorithm then you will have to do this.  This is c++ , not python.
Abstracting away forward/backward into it's own class doesn't seem lik

[2015-07-15 13:28] unbornchikken commented on #17
@jramapuram You're talking about object oriented design and I'm talking about composite design there. In your case RTRLNode : RecurrentNode will have a backward and froward methods those throws unsupported exception, and a forward method that accepts a whole new vector for storing derivates along with the input, and an other forward method propagating p values - declared in RTRLNode class. In my c

[2015-07-15 13:48] jramapuram commented on #17
RTRLNode will have two private internal members that merely accumulate the error & derivatives locally. All RTRL is doing is estimating derivatives for t+1 using derivatives for t (this is done on a node by node basis). Each unit is a linear combination of the previous layer's activations coupled with a gemv call. The only thing that needs to be passed along is the current update (which is already

[2015-07-15 14:13] unbornchikken commented on #17
Maybe this is not the right issue to discuss about the internals of RTRL, but we can agree about that you will end up having an RTLNode class that have to throw not supported exception in its backward method, right? That's because your fundamental design hardcoded the ability to serve a single algorithm suite. Btw, I haven't talked about anyhing that helps pavan to prototype faster. I've talked ab

[2015-07-15 14:50] pavanky commented on #17
The LR was greater than 1 because I knew it was going to converge for that simple simple test.

Each "Node" here is the equivalent of a "Layer" from caffe and "Module" from torch-nn.

If you can point to some examples, I will look into this.

That is how things are at the moment..

Each "Node" can be a simple layer or a composite node like Multi Layer Perceptrons, Recurrent Neural networks, Autoen

[2015-07-15 14:58] jramapuram commented on #17
[code]

@pavanky : This is what I was referring to in perceptron.cpp

Yea, noticed that in the later comments. I need to learn to read :)

Do you mean examples of other normalization strategies? Example would be [whitening using SVD](http://math.stackexchange.com/questions/185132/calculate-a-whitening-matrix-without-using-inverses)

@unbornchikken : we can discuss further if you like, but I think

[2015-07-15 15:02] pavanky commented on #17
@jramapuram The LR was only high because the test (binary AND) is a linear operation and weights will **always** get updated in the same direction once the algorithm starts. I just wanted to speed things up a little while testing. I understand why learning rates usually are small, but for this case it does not really matter.

[2015-07-15 15:06] pavanky commented on #17
I do not see how such strategies can be applied at each node. From what I understand this can be calculated near the output and the norm can be propagated back for scaling up / down. Perhaps I should rename the method to simply say "scale"

[2015-07-15 15:10] jramapuram commented on #17
Scale sounds more appropriate imo. But do we want to do internal node scaling?
Generally the scaling op should be done prior (on the dataset directly) or using something like [batch normalization](http://arxiv.org/abs/1502.03167)

[2015-07-15 15:14] pavanky commented on #17
I agree. I will just merge normalize and update step for now.

[2015-07-15 19:12] unbornchikken commented on #17
@pavanky  _"The "forward" and "backward" methods help the composite nodes interface with other nodes in the larger network."_

Oh, I get it! This was not obvious, I've seen many ML libraries out there that had this fw/bw only traversal hard coded in fundamentals. Now, I started to get excited to see where your design leads to. I cannot wait to put my hands on something that support this meta-netwo

[2015-08-05 00:27] jramapuram opened #23 "OpenCL Error OSX Radeon HD6750"
jason@tesla ~/p/a/build> ./test/Activations_opencl
in[0] [5 1 1 1]
   -8.9262
   32.2371
   45.1800
  -32.0635
   -8.0176

libc++abi.dylib: terminating with uncaught exception of type af::exception: ArrayFire Exception(401): Double precision not supported for this device
In /var/lib/jenkins-slave/workspace/arrayfire-osx-graphics-installer/src/api/cpp/data.cpp:27
fish: Job 1, './test/Activations_op

[2015-08-07 00:05] jramapuram commented on #23
Are we trying to use double precision? Shouldn't be needed for nnets. The trajectory seems to be going to smaller and smaller types actually (i.e. nirvana's 16bit ultra fast impl)

[2015-08-07 00:20] pavanky commented on #23
It should not be using double precision. Which version of ArrayFire are you using ?

[2015-08-11 09:18] jramapuram commented on #23
3.02

[2015-08-11 12:15] pavanky commented on #23
~~Can you try this with our devel branch ?~~

[2015-08-11 13:25] pavanky commented on #23
This seems to be a problem in the main arrayfire library. I [pushed a fix](https://github.com/arrayfire/arrayfire-ml/commit/214c3777b44c21963bc38f3825b0b0f1f3ce398f) to this library that works around the issue.

[2015-08-11 13:25] #23 closed

[2015-08-11 13:56] jramapuram commented on #23
Nice, ty Ill try it with the tip

[2015-08-17 10:02] jramapuram opened #24 "Add Initializers"
Currently Nodes are defined to have spreads:

[code]

This needs to be refactored to provide an initializations class.
Examples of initializations are :
1. Le-Cun Normal
2. Glorot Uniform

[2015-08-17 10:16] jramapuram opened #25 "Remove bias from Weights.hpp"
Weights are currently initializing bias'
This is not always desirable, eg LSTM:

[code]

Here, each node needs only needs 1 bias, i.e. 1 bias for input gate (as opposed to the 2 we will now have for mWi & mUi)
Either we should :
  1. refactor the above file into 2 files or
  2. we can provide a way to **NOT** initialize the bias in the CTOR

To me 1. makes more sense

[2015-08-17 10:32] jramapuram opened #26 "Static Activations Class"
Should provide str2enum and then return a function ptr or something similar.
This will be helpful for things like:

[code]

[2015-08-17 10:43] pavanky commented on #26
`LinearNode` merely performs the matrix multiplication. The activation part is done separately.  This is similar to what other neural network libraries / frameworks are doing. From what I have looked at, this looks like a good design choice. I am not sure if changing `LinearNode` is a good idea.  If it is necessary for convenience, you can easily do this in user code.

For example `FFNet` sort of

[2015-08-17 10:47] jramapuram commented on #26
The linear node was just an example. I can't have the activations be external to the node for an LSTM.
Some gates (eg: memory gate) are dependent on activations of the previous gates and thus cannot be refactored outside of the node level.

[2015-08-17 10:50] pavanky commented on #26
Fair enough. I have not yet started looking into LSTMs. I am currently implementing some core functionality necessary for convolutional nets in ArrayFire. I will keep this in mind when looking at LSTMs.

[2015-08-17 10:50] jramapuram commented on #26
I'v already started writing a skeleton of LSTMs. Will submit a pull soon

[2015-08-17 10:51] pavanky commented on #24
Erm.. Googling these terms seems to produce a lot of noise. Can you link to proper documentation ?

[2015-08-17 10:55] jramapuram commented on #24
Yea, sorry. Keras has some links to the papers as well as the implementations:
https://github.com/fchollet/keras/blob/master/keras/initializations.py

[2015-08-17 10:58] pavanky commented on #25
I think it is best to have just one `Weights` class. I see no reason for them to be combined. I think I just did what I did because it was easier during the prototype phase of `LinearNode`.

[2015-08-17 11:07] jramapuram commented on #25
:+1:

[2015-08-19 21:44] pavanky commented on #25
Fixed in master.

[2015-08-19 21:44] #25 closed

[2015-08-29 06:04] sherjilozair commented on #2
There is nothing fundamental about automatic differentiation that associates it with longer compile times. Some folks from Berkeley are implementing an alternative to Theano (rll.berkeley.edu/cgt/), which essentially solves the long compilation problem.

[2015-08-29 06:14] sherjilozair commented on #20
BPTT is much more popularly used than RTRL, so might be better to prioritize BPTT over RTRL.

[2015-08-29 07:50] jramapuram commented on #20
BPTT doesn't solve the stateful RNN problem unfortunately.
Truncated BPTT is a crude approximation as well as i
Also, there are a plethora of BPTT solutions already: keras, blocks, lasagne, chainer, ...

The only way to have an online RNN is to use RTRL as each step utilizes the full jacobian product from the previous time step as this allows for smooth information flow.

[2015-08-29 08:03] sherjilozair commented on #20
Pretty much all other RNN implementations are slow, and not suitable for production. My own reason for betting on arrayfire is that this might yield production-ready implementations for deep learning algorithms.

[2015-11-17 21:24] Botev opened #28 "Autodiff"
Hi guys,

I've seen a lot of things in terms of ML frameworks, however for my work as a research I find autodiff very usefull (e.g. symbolic graph manipulation). On the other hand arrayfire seems like the perfect the backend for such framework, as it seemsly can be adopted for GPUs and so on (I'm still interested if there is any chance of adding somehow fallback to cuDNN where possible).

Since I'

[2015-11-17 21:53] pavanky commented on #28
@Botev We already have an issue open for this: https://github.com/arrayfire/arrayfire-ml/issues/2

Can you make your suggestions and link any technical papers over there?

[2015-11-17 22:02] botev commented on #2
So I've actually have already implemented a baby step of this, however an old version of it in Rust. As mentioned in #28 I find Arrayfire the perfect backend for this. Haven't check CGT by myself, but I can see it is still python based. I prefer a C++ version of this rather than python, and later it could be ported to other languages easily. However it requires also and some knowledge and expectat

[2015-11-18 06:23] jramapuram commented on #2
I also suggest this post: http://colah.github.io/posts/2015-08-Backprop/index.html
The automatic differentiation doesn't need to be extremely fast. Most of the time all you need is symbolic derivatives after which you can substitute values back into the result (at a rapid rate).

[2015-11-18 08:34] botev commented on #2
Mm in general you would want to do source generation, otherwise just substitution will mean that you will have to do manual GC on the graph, rather than let the compiler do what it does best.

I was wondering if I implement this on a purely graph based structure, what are the important parts of each node that would be required for ArrayFire to know? Usually each node has some meta data like:
- ndi

[2015-11-18 11:45] pavanky commented on #2
@Botev We do most of what you suggest internally inside arrayfire's JIT engine. @jramapuram opened a ticket on upstream arrayfire library to perform Automatic differentiation.

I am fairly new to the subject. All I've seen / read so far is what other DNN libraries are doing to a certain extent. However I haven't yet figured out the scope of operations to support.

[2015-11-18 11:59] botev commented on #2
Hmm, so could you point me to a document so that I can understand better what happens under the hood of array fire JIT. Are you building a symbolic graph of the computation? Or are you referring to storing the dim, shape, broadcasts etc of each variable?
I must say that I'm really quite far from low level HPC, so have no idea how you guys do the computation inside. To most extend what other DNN li

[2015-11-18 12:03] jramapuram commented on #2
I think the tensorflow implementation is far superior to theano. Here is their whitepaper: http://download.tensorflow.org/paper/whitepaper2015.pdf

[2015-11-18 12:06] pavanky commented on #2
@Botev It is internal to arrayfire so it is not very well documented..
- This file is representative of how a node is constructed: https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cuda/binary.hpp
  There are other types of nodes that expect a different input but create a node on the graph.
- This file shows how the graph is traversed and the (nvvm) code is generated:
  https://github.

[2015-11-18 12:08] pavanky commented on #2
If I can understand the theory well enough, I think `jit.cpp` and header files inside `JIT` directory can be extended to implement automatic differentiation.

[2015-11-18 12:09] botev commented on #2
@jramapuram  The automatic differentiation part is the same. If you look at section 4.1 and observe a Theano graph with gradients you will see that the way that gradients are symbolically computed are exactly the same (this is also true for torch, cgt and almost any other good DNN library out there). The difference is in how they manage the exact computation, code generation, compilation etc later

[2015-11-18 12:14] jramapuram commented on #2
@Botev : sure, in the end you are just running reverse mode differentiation, and using the sum & product rule of graphs to get the gradient of the destination node w.r.t. the head node. But as you mention there are a lot of features that they support that optimize things (eg: partial graph utilization, etc).

Edit: another is when to use forward mode vs. reverse mode diff

[2015-11-18 12:21] botev commented on #2
In ML, specially Deep Learning, which are usually the main targets for such libraries, these are more or less sugar, which to help do things or investigate after training. Whether, I will construct a brand new graph or reuse the old one, imho is not so important. The device management and execution however, can have significant impact, which is why I in first place came here. You are right that th

[2015-11-18 12:28] jramapuram commented on #2
Yea, you are right in that some operators are not supported on the GPU (try using the ADAM optimizer, there is a mean() call somewhere that seems to need CPU), however it's really interesting how they allow for 'loose' computations which dynamically toggle the backend.  Of course the performance suffers from this. From this regard I think arrayfire has a huge advantage as there are implementations

[2015-11-18 12:38] pavanky commented on #2
Hmm one problem I can think of is that matrix multiply is not part of the JIT engine in arrayfire. Only element wise operations are part of it.

[2015-11-18 12:44] botev commented on #2
Aren't those at least reference there for calls to the BLAS or some routines?

[2015-11-18 12:45] pavanky commented on #2
@Botev any chance you are on gitter? I'd like to discuss some of this via chat if you can drop by

[2016-06-02 17:13] UniqueFool commented on #17
Also see: https://github.com/arrayfire/arrayfire/issues/1441

[2016-06-06 21:36] UniqueFool commented on #3
FWIW, there is an increasing number of ML algorithms that are doing tree/graph processing to some extent, so that may be another useful thing to have in arrayfire-ml: graph processing utilities for some of the more common algorithms (e.g. [breadth-first search](https://github.com/otrebor/JGA/blob/master/kernels/kernelsBFS.cl)  implemented in OpenCL)

[2016-06-08 21:39] UniqueFool commented on #1
FWIW, this may be worth looking at (Mozilla Public License 2.0): https://github.com/hughperkins/DeepCL
More specfically: https://github.com/hughperkins/DeepCL/tree/master/cl

[2016-07-31 22:13] campbx opened #29 "Is ML project dead?"
Didn't see any updates in a while, so wondering if ArrayFire ML project is still ongoing or abandoned.

Ideally would be great to have a "drop in" replacement for cuDNN used by Torch.

[2016-08-01 02:11] pavanky commented on #29
I have been intending to do some work on this, but any planning I do comes up with having to do a bit of work upstream to have more building blocks (such as strided convolutions, pooling) etc. Once v3.4.0 is released, it should free up more resources from our end to work on this.

That is not our goal. But someone from the community can create a bridge for torch and have it be a drop in replacemen

[2016-08-02 01:22] #29 closed

[2017-01-21 12:05] ghost commented on #29
Hello; in the mean-time, is there a document laying out which features are pretty stable and good for use, and which are somewhat unstable and dangerous to rely on? :)

Thank!

[2017-07-06 15:55] #2 closed

[2017-07-06 15:59] pavanky commented on #3
Closing this because it is no longer relevant.

[2017-07-06 15:59] #3 closed

[2017-07-06 16:00] #4 closed

[2017-07-10 22:29] pavanky commented on #26
No longer relevant.

[2017-07-10 22:29] #26 closed

[2017-07-10 22:36] pavanky commented on #24
This can be implemented by adding a few functions in `Types.hpp`.

We'll need to implement the following:

- [x] The current `nn.weight` should be renamed to `nn.randomUniform`.
- [x] `nn.randomNormal` for normal
- [x] `nn.constant` similar to af::constant
- [x] `nn.identity`
- [x] `nn.lecunNormal`
- [x] `nn.lecunUniform`
- [x] `nn.glorotNormal`
- [x] `nn.glorotUniform`

The links for lecun* and g

[2017-07-10 22:40] jramapuram commented on #20
I will be doing an internship till Sept and won't have time to update till then most likely. If someone wants to implement these first that would be great now that we have AD setup.

[2017-07-10 22:48] pavanky commented on #17
Updated the issue to reflect the new architecture.

[2017-07-10 22:48] pavanky commented on #16
Not relevant for now. May be needed in the future.

[2017-07-10 22:48] #16 closed

[2017-07-10 22:49] pavanky commented on #14
This can be implemented as an example. No reason for a specialization.

[2017-07-10 22:49] pavanky commented on #11
No longer relevant.

[2017-07-10 22:49] #11 closed

[2017-07-10 22:50] pavanky commented on #10
No longer relevant.

[2017-07-10 22:50] #10 closed

[2017-07-10 22:50] pavanky commented on #8
No longer relevant.

[2017-07-10 22:50] #8 closed

[2017-07-10 23:09] pavanky opened #33 "Convolution Functions"
The following functions and modules need to be implemented:

- [ ] Basic Convolutions: No strides, No pooling
- [ ] Strided Convolutions without pooling
- [ ] Strided Convolutions with pooling

Merging Strided Convolutions with pooling could potentially allow call wrap and unwrap to be only called once instead of twice.

[2017-07-10 23:12] WilliamTambellini commented on #20
Hi, I would be interested by either LSTM or GRU, forward pass would be a good first step before implementing backward/training.

[2017-07-10 23:19] pavanky opened #34 "Loss functions"
- [x] mean squared error
- [x] mean absolute error
- [x] binary cross entropy
- [ ] negative log likelyhood

[2017-07-10 23:20] pavanky opened #35 "Optimizers"
- [x] SGD
- [x] Adam
- [x] RMSProp

[2017-07-11 04:09] pavanky commented on #20
@jramapuram I am going to try and implement this. May be you and @WilliamTambellini review this once I send a PR.

[2017-07-12 02:31] WilliamTambellini commented on #20
Hi @pavanky
it sounds good. GRU is usually a little simpler to implement than LSTM but your choice.
Have you thought about a possible example application (text generation, summarization, translation, question&answer, ...) ?
Cheers
W.

[2017-07-12 02:35] jramapuram commented on #20
I suggest a simple char-run type problem

[2017-07-12 04:48] pavanky commented on #20
@jramapuram @WilliamTambellini If you have specific examples in mind please let me know. Preferably implemented as an example in another ML toolkit already :)

[2017-07-12 05:05] pavanky commented on #20
@jramapuram @WilliamTambellini I think I am going to target this example as a first step: https://github.com/pytorch/examples/tree/master/word_language_model

[2017-07-23 21:41] jasonhargrove commented on #3
Why is it no longer relevant?

[2017-07-23 22:54] pavanky commented on #3
@jasonhargrove Using autograd for implementing neural networks. This involved changing the API. If you have any suggestions / questions, please follow up over here:
https://github.com/arrayfire/arrayfire-ml/issues/17

[2017-07-27 03:29] #24 closed

[2017-07-28 17:55] pavanky commented on #1
This is going to be solved upstream: https://github.com/arrayfire/arrayfire/issues/1868

[2017-07-28 17:55] #1 closed

[2017-07-28 17:59] pavanky commented on #9
@umar456 can you figure out if we need to wrap `af::nearestNeighbour` or if this can be closed.

[2017-08-10 18:18] #35 closed

[2017-08-11 04:13] pavanky opened #43 "Indexing and assignment support in autograd"

[2017-08-29 20:24] WilliamTambellini commented on #20
Hi @pavanky  It sounds very good: the Penn db is quite small (about 5M) and training time should nt be long. Perfect for an example. Have you opted between Elman, GRU, or LSTM ?

[2017-08-29 21:05] pavanky commented on #20
@WilliamTambellini Will start with plain (Elman) RNNs first.

[2018-06-18 21:20] vineelpratap opened #44 "Degraded performance for variable input size"
I have extended arrayfire-ml with CuDNN bindings and was running benchmarks to compare with convnet benchmarks from https://github.com/soumith/convnet-benchmarks/.

The benchmarks are run in the following way

// Define the Network
<img width="385" alt="screen shot 2018-06-18 at 11 36 41 am" src="https://user-images.githubusercontent.com/5282102/41562182-b96c0d74-7300-11e8-9b13-26e6b503f25f.png">

[2018-06-18 23:53] pavanky commented on #44
@vineelpratap can you try doing the following ?

1) `af::setMemStepSize(10 * (1 << 20))` before the benchmarking loop.

2) Try running `out.eval()`

Also do you want to share the changes you've made to arrayfire-ml ?

[2018-06-19 00:59] vineelpratap commented on #44
@pavanky - Yes, `af::setMemStepSize(10 * (1 << 20))` fixes the issue :)

Yes, we plan to share the code with all the changes to arrayfire-ml repo soon (< 1 month).

[2018-06-19 01:02] #44 closed

[2018-07-20 14:11] 9prady9 commented on #13
@pavanky What are these issues that have `Example` prefixes ? are they feature requests or new examples using arrayfire-ml ?

[2018-09-05 23:01] syurkevi commented on #34
https://github.com/arrayfire/arrayfire-ml/pull/36#issuecomment-317360576
ArrayFire has lookup, however its behavior seems a bit weird, would it need to be changed in ArrayFire or just emulated in autograd?

[2018-09-06 04:53] 9prady9 commented on #34
@syurkevi What kind of behavior difference are you talking about ? Can you show me an example ?

[2018-09-10 21:06] InonS opened #46 "Possible anachronism in CMake `target_include_directories`"
When trying to compile, [line 29 of the CMake file](https://github.com/arrayfire/arrayfire-ml/blob/master/CMakeLists.txt#L29) was giving me trouble. Changing the included item from `ArrayFire::af` to `af` solved the issue. I'm using CMake 3.10.2

See also:
1. https://cmake.org/cmake/help/latest/command/target_include_directories.html
2. https://gitlab.kitware.com/cmake/cmake/issues/15689

[2019-05-04 07:40] tcandzq commented on #3
Hi，Could I join this project and develop some function in arrayfire-ml。Because write ml algorithm in C++ and GPU would interesting and challenging! Thank you!

[2022-02-14 19:38] MichaelMcCulloch commented on #33
Hello, I see this thread has been silent for quite some time, however I have need of a way to implement max pooling with arrayfire, and I was interested to know how you planned to do it?

[2022-03-25 09:35] dimka8 commented on #3
Good day . ubuntu 20.04 error will occur
terminate called after throwing an instance of 'af::exception'
  what():  ArrayFire Exception (Internal error:998):
In function compileModule
In file src/backend/cuda/compile_module.cpp:279
NVRTC Error(7): NVRTC_ERROR_BUILTIN_OPERATION_FAILURE
Log:
nvrtc: error: failed to open libnvrtc-builtins.so.11.4.
  Make sure that libnvrtc-builtins.so.11.4 is installe

[2022-03-25 10:24] dimka8 commented on #3
ArrayFire v3.9.0 (CUDA, 64-bit Linux, build 1d03d07)
Platform: CUDA Runtime 11.4, Driver: 510.47.03
[0] NVIDIA GeForce GT 1030, 2001 MB, CUDA Compute 6.1
ArrayFire Exception (Internal error:998):
In function compileModule
In file src/backend/cuda/compile_module.cpp:279
NVRTC Error(7): NVRTC_ERROR_BUILTIN_OPERATION_FAILURE
Log:
nvrtc: error: failed to open libnvrtc-builtins.so.11.4.
  Make sure tha